<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Email Demo</title>
</head>
<body>
    <p>Hello, Welcome
        <span style="color:red;" th:text="${username}"></span>!!!
        This email is sent by Java + Spring framework(Spring Email). If you receive this email, can you reply me on whatsapp?"
        <br />
        Hello Can you receive it? If can, can you call me???
        <br>
        <mark>Hola!!!!!!!</mark>
        <mark>你很帅气哦！</mark>
    </p>
</body>
</html>